* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(
    45deg,
    rgb(40, 40, 40),
    rgb(133, 133, 133)
  );
}

.score {
  position: absolute;
  z-index: 4;
}

.game-container {
  width: 400px;
  height: 680px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  border: 4px solid #f8b830;
  border-radius: 4px;
  background-color: #83e28e;
}

.wrapper {
  width: 100%;
  height: 730px;
  display: flex;
  justify-content: center;
  position: relative;
}

.start-game {
  background: url(img/message.png);
  width: 184px;
  height: 267px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-game {
  background: url(img/gameover.png);
  width: 192px;
  height: 42px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.win-game {
  background: url(img/win.png);
  width: 318px;
  height: 42px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.sky {
  background: url(img/fb-game-background.png);
  width: 400px;
  height: 580px;
  position: absolute;
}

.ground {
  background: url(img/bottom-background.png);
  width: 400px;
  height: 100px;
  position: absolute;
  top: 580px;
  z-index: 3;
}

.bird {
  position: absolute;
  width: 60px;
  height: 45px;
  display: none;
  left: 170px;
  bottom: 250px;
  user-select: none;
}

.obstacle {
  background: url(img/flappybird-pipe.png);
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
  background: url(img/flappybird-pipe.png);
  width: 60px;
  height: 300px;
  position: absolute;
  transform: rotate(180deg);
}

.bot-screen {
  margin-left: 10px;
  font-size: 22px;
  color: #ffff;
}

.button-holder {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #f8b830;
  color: #ffff;
  background-color: #71c5d0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f8b830;
}

.button:nth-child(1) {
  margin-left: 20px;
}

.button:nth-child(3) {
  margin-right: 20px;
}

.wrapper__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background: -webkit-linear-gradient(
    45deg,
    rgb(40, 40, 40),
    rgb(133, 133, 133)
  );
  padding: 10px;
  width: 100%;
  font-size: 25px;
}

.wrapper__footer img {
  width: 135px;
  height: 50px;
}

.wrapper__footer div {
  font-size: 20px;
  color: white;
  width: 135px;
}

.wrapper__footer a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.settings {
  position: absolute;
  width: 30px;
  right: 0;
  z-index: 4;
  animation: rotateAnimation 15s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate 360 degrees */
  }
}

.console-container {
  width: 400px;
  height: 680px;
  background: url(img/background-night.png);
  background-size: contain;
  position: absolute;
  background-color: #f8b830;
  z-index: 4;
  display: none;
}

.console {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  border-top: 2px solid #71c5d0;
  color: #ffff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.leaderbord-item {
  display: flex;
  align-items: center;
}

.changedText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
